h1
{
	text-align : center;
}

body
{
	background-color : #B0C4DE;
}

p 
{
	font-size : 30px;
	text-align : center;
}

label
{
	font-size : 20px;
}

table
{
	margin : auto;
}

div 
{
	text-align : center;
}

deco
{
	text-align:right;
}

.btn
{
	background-color : #50B667;
}