h1
{
	text-align : center;
}

body
{
	background-color : #B0C4DE;
}

p 
{
	font-size : 20px;
	text-align : center;bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb
}

label
{
	font-size : 20px;
}

table
{
	margin : auto;
}

div 
{
	text-align : center;
}
