h1
{
	text-align : center;
}

body
{
	background-color : #50B667;
}

p 
{
	font-size : 30px;
	text-align : center;
}

label
{
	font-size : 20px;
}

table
{
	margin : auto;
}

div
{
	text-align : center;
	position : sticky;
	width : 100%;
	top : 0px;
}
div ul
{
  list-style-type: none;
}
div ul li
{
  float: left;
  width: 45%;
  text-align: center;
}

.deco
{
	text-align:right;
}

caption
{
	font-size:25px;
}
.btn
{
	background-color : #B0C4DE;
}